<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

	<servlet>
        <servlet-name>Mobile RESTful Servlet</servlet-name>
        <servlet-class>com.idega.mobile.servlet.MobileServlet</servlet-class>
        <init-param>
            <param-name>org.glassfish.jersey.config.property.packages</param-name>
            <param-value>com.idega.mobile.restful</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>10</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Mobile RESTful Servlet</servlet-name>
        <url-pattern>/mobile/*</url-pattern>
    </servlet-mapping>
    
    <filter>
		<filter-name>Mobile RESTful Filter</filter-name>
		<filter-class>com.idega.mobile.servlet.MobileServlet</filter-class>
	</filter>
    <filter-mapping>
		<filter-name>Mobile RESTful Filter</filter-name>
		<url-pattern>/mobile/*</url-pattern>
	</filter-mapping>
</web-app>